
body{
    margin: 0;
    font-family: monospace;
    color: rgb(65, 22, 221);
    background-color:black;
}
section{
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spacer{
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.Rights{
    background-color:wheat;
    margin-top: 40px;
    font-weight: 600;
    display : flex;
    bottom: 0;
    justify-content: center;
}
.image-container {
    border-color: white;
    width: 200px;
    height: 200px; 
    background-image: url("Image/Final.jpg");
    background-size: cover;
    transition: background-image 1.0s ease;
    margin-bottom: 30px;
    padding: 20px;
  }
  
.image-container:hover {
    width: 200px;
    height: 200px;
    background-image: url("Image/Initial.jpg");
}
h3:hover{
    font-size: 18px;
    color: rgb(35, 190, 190);
    }
.image-container-01 {
    text-overflow: clip;
    text-align:center;
    position: relative;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.image-div-1,.image-div-2,.image-div-3,.image-div-4,.image-div-6,.image-div-5,.image-div-8,.image-div-7{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.image-div-1:hover,.image-div-2:hover,.image-div-3:hover,.image-div-4:hover,.image-div-6:hover,.image-div-5:hover,.image-div-8:hover,.image-div-7:hover{
    color: violet;
}
.sec2:hover{
    color: aqua;
}
